# Archivos de sistema de Mac
.DS_Store
.AppleDouble
.LSOverride

# Android Studio y Gradle
.gradle/
build/
captures/
.externalNativeBuild/
.cxx/
local.properties

# Archivos de configuración de la IDE
.idea/workspace.xml
.idea/libraries/
.idea/modules.xml
.idea/deploymentTargetDropDown.xml
*.iml

# Logs
*.log